@import "@unocss/reset/tailwind.css";

:root {
  --color-bg: #f0f0f0;
  --color-pink: #ff90e8;
  --color-cyan: #23d5ab;
  --color-yellow: #ffc900;
  --color-black: #232323;
  --color-white: #ffffff;
}

body {
  background-color: var(--color-bg);
  background-image: radial-gradient(var(--color-black) 1px, transparent 1px);
  background-size: 20px 20px;
  color: var(--color-black);
  overflow-x: hidden;
}
